.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-pagination-bullet{
    background-color: #E33183;
    width: 12px;
    height: 12px;
    border: 1.1px solid black;
  }

  .a1{
    background-image: url('https://img.freepik.com/premium-photo/romantic-silhouette-loving-couple-valentines-day-14-february-happy-lovers-vector-illustration-isolated-red-blurry-background_1059911-6573.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  .a2{
    background-image: url('https://www.shutterstock.com/image-vector/group-raised-hands-diverse-people-600nw-2221158931.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  .a3{
    background-image: url('https://static.vecteezy.com/system/resources/previews/011/875/478/non_2x/meet-of-team-of-people-for-talk-dialog-communication-discussion-business-relationship-discuss-problems-together-exchange-opinions-of-team-worker-support-group-illustration-vector.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .swiper-button-next, .swiper-button-prev{
    color: #E33183;
    font-weight: bold;
  }

  .sc{
    transition-duration: 0.05s !important;
    z-index: 9999 !important;
  }

  .swiper {
    width: 100%;
    padding-top: 90px !important;
    padding-bottom: 100px !important;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin-top: 40px;
    margin-bottom: 80px;
  }
  select{
    color: #878787 !important;
  }